- if @table.empty?
  %p= t('.no_results')
- else
  %table.analysis.table
    %thead
      - @table.first.each do |header|
        %th= header
    %tbody
      - @table[1..-2].each_with_index do |row, row_index|
        %tr
          %th= link_to row[0], pieces_path(collection_filter: 'alle', search: row[0])
          - row[1..-1].each_with_index do |cell, col_index|
            %td= cell_link(cell, row_index+1, col_index+1, @table, @analyzed_by)
    %tfoot
      %tr
        %th= @table[-1][0]
        - @table[-1][1..-1].each_with_index do |cell, col_index|
          %th= cell_link(cell, @table.size-1, col_index+1, @table, @analyzed_by)