#overview
  .line
    .caption= link_to t('.clients'), clients_path
    .explain= t('.explain_clients')
  .line
    .caption= link_to t('.pieces'), pieces_path
    .explain= t('.explain_pieces')
  .line
    .caption= link_to t('.analysis'), analysis_menu_path
    .explain= t('.explain_analysis')

#revenue_totals
  %h2= t('.revenue_by_collection')

  %table
    %th= t('collection')
    %th= t('.sales_count')
    %th= t('.revenue')

    - @collections.each do |collection|
      %tr
        %td= collection.collection
        %td= collection.sales_count
        %td= collection.total_sales

