.row
  .span6
    = form.input :username, label: t('users.username'), autofocus: true, required: true
    = form.input :email, label: t('users.email'), required: true
    - if can? :manage, User
      .control-group
        = form.label :roles, label: t('users.role')
        .controls
          = form.collection_check_boxes(:roles, User::ROLES, :to_s, :capitalize,
            item_wrapper_class: 'checkbox_container')
        - if @display_passwords
          = form.input :password, label: t('users.edit.password'), autocomplete: "off", hint: t('users.edit.password_hint'), required: false
          = form.input :password_confirmation, label: t('users.password_confirm'), required: false
          -# = form.input :current_password, label: t('users.edit.current_password'), hint: t('users.edit.current_password_hint'), required: true
        - else
          %p
            = t('users.edit.goto_profile')
            = link_to(t('users.edit.profile'), edit_user_registration_path)