= simple_form_for @user, html: {class: 'form-horizontal user_form'}, validate: true  do |f|
  = f.error_notification
  .row
    .span6
      = f.input :username, label: t('users.username')
      = f.input :email, label: t('users.email')
      - if can? :manage, User
        .control-group
          = f.label :roles, label: t('users.role')
          .controls
            = f.collection_check_boxes(:roles, User::ROLES, :to_s, :capitalize, item_wrapper_class: 'checkbox_container')
      = f.input :password, label: t('users.password')
      = f.input :password_confirmation, label: t('users.password_confirm')

  .form-actions
    = link_to t('actions.cancel'), users_path
    = f.button :submit, value: t('actions.save')
