= simple_form_for(@user,
  :html => { :method => :put, class: 'form-horizontal user_form' },
  validate: true) do |f|

  = render 'form', form: f

  .form-actions
    = link_to t('actions.cancel'), users_path
    = f.button :submit, value: t('actions.save'), class: 'btn-primary'
    = link_to t('users.edit.cancel_account'), user_path(@user),
      data: { confirm: t('actions.confirm_delete') }, method: :delete,
      class: ['btn', 'btn-danger']