= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]
= hidden_field_tag :status, status_condition
= hidden_field_tag :role, role_condition
= hidden_field_tag :per_page, params[:per_page]

.total_items
  #{@clients.total_entries} Kundinnen
  %br gefunden:
%table.table
  %tr
    %th= sortable 'first_name', 'Vorname'
    %th= sortable 'last_name', 'Nachname'
    %th= sortable 'city', 'Ort'
    %th= sortable 'street', 'Strasse/Nr'
    %th= sortable 'status', 'Status'
    %th= sortable 'roles_mask', 'Rolle'


  - @clients.each do |client|
    %tr
      %td= client.first_name
      %td= client.last_name
      %td= client.city
      %td= client.address
      %td= client.status
      %td= client.role

      %td= link_to 'Show', client
      %td= link_to 'Edit', edit_client_path(client)
      %td= link_to 'Destroy', client, :confirm => 'Are you sure?', :method => :delete

-# see: http://hungrycoder.xenexbd.com/ruby-on-rails/will-paginate-links-and-twitter-bootstrap.html
= will_paginate @clients,  :renderer => 'BootstrapPaginationHelper::LinkRenderer'
