%li.dropdown{:class => "#{css}" }
  %a.dropdown-toggle{:id => "dLabel", :role => "button", "data-toggle" => "dropdown", "data-target" => "#", :href => "#", class: "btn btn-small"}
    = title + ': ' + default
    %span.caret
  %ul.dropdown-menu{:role => "menu", "aria-labelledby" => "dLabel", :id => "#{field}_filter"}
    = render partial: "#{field}_filter"
