= simple_form_for @client,
    html: {class: 'form-horizontal edit_form'} do |f|
  = f.error_notification
  .row
    .span7
      = f.input :title, label: t('.title'), input_html: {class: 'input-mini'}
      = f.input :polite_form, label: t('.polite_form'), input_html: {class: 'input-mini'}
      = f.input :first_name, label: t('.firstname')
      = f.input :last_name, label: t('.lastname'), input_html: {class: 'required'}
      = f.input :status, label: t('status'), collection: Client::STATES, as: :radio_buttons, item_wrapper_class: 'inline'
      = f.input :role, label: t('role'), collection: Client::ROLES, include_blank: false
      = f.input :street, label: t('.street'), input_html: {class: 'span4'}, wrapper_html: {class: 'controls-row'} do
        = f.input_field :street, class: 'span3'
        = f.input_field :street_number, class: 'span1'
      = f.input :zip, label: t('.zip_city'), input_html: {class: 'span4'}, wrapper_html: {class: 'controls-row'} do
        = f.input_field :zip, class: 'span1'
        = f.input_field :city, class: 'span3'
      = f.input :mailing, label: t('.mailing'), collection: Client::MAILINGS,
        label_method: lambda{|f| t(".mailing_#{f}")}, include_blank: false
      = f.input :email, input_html: {class: 'email'}
      = f.input :phone_home, label: t('.phone_home')
      = f.input :phone_work, label: t('.phone_work')
      = f.input :phone_mobile, label: t('.phone_mobile')
      = f.input :notes, label: t('.notes'), input_html: {rows: 4}
      = f.input :profession, label: t('.profession')
      = f.input :first_name2, label: t('.firstname2')
      = f.input :last_name2, label: t('.lastname2')
      = f.input :street2, label: t('.street2')

      .form-actions
        = back_btn(text: t('actions.cancel'), type: :link)
        = f.submit t('actions.save'), class: 'btn btn-primary'



