= simple_form_for @client,
    html: {class: 'form-horizontal edit_form'} do |f|
  = f.error_notification
  .row
    .span5
      = f.input :title, label: t('.title'), input_html: {class: 'input-mini'}
      = f.input :first_name, label: t('.firstname')
      = f.input :last_name, label: t('.lastname'), input_html: {class: 'required'}
      = f.input :status, collection: Client::STATES, as: :radio_buttons, item_wrapper_class: 'inline'
      = f.input :mailing, label: t('.mailing')
      = f.input :role, label: t('role'), collection: Client::ROLES
      .form-inputs.row
        = f.input :street, label: t('.street'), wrapper_html: {class: 'span2'}
        = f.input :street_number, label: false, wrapper_html: {class: 'span1'}, input_html: {class: 'input-mini'}
      .form-inputs.row
        = f.input :zip, label: t('.zip_city'), wrapper_html: {class: 'span1'}, input_html: {class: 'input-mini'}
        = f.input :city, label: false, wrapper_html: {class: 'span3'}, input_html: {class: 'input-medium'}
      = f.input :email, input_html: {class: 'email'}
      = f.input :phone_home, label: t('.phone_home')
      = f.input :phone_work, label: t('.phone_work')
      = f.input :phone_mobile, label: t('.phone_mobile')
      = f.input :notes, label: t('.notes'), input_html: {rows: 4}
      = f.input :profession, label: t('.profession')
      = f.input :first_name2, label: t('.firstname2')
      = f.input :last_name2, label: t('.lastname2')
      = f.input :street2, label: t('.street2')

      .form-actions
        = link_to t('actions.cancel'), clients_path
        = f.submit t('actions.save'), class: 'btn btn-primary'



