%table#sales-overview
  %tr
    %th Total gekauft fuer
    %th Total gekaufte Teile
    %th Datum des letzten Kaufs
  %tr
    %td= client.name
    %td= client.name
    %td= client.name

- if client.sales.size > 0
  %p= "#{client.name} hat #{client.sales.size} Teile erstanden:"

  %table#client_sales.tablesorter
    %thead
      %th Teil
      %th Preis
      %th Datum
    %tbody
      - cllient.sales.each do |sale|
        %tr
          %td= link_to sale.piece.name, edit_piece_path(sale.piece)
          %td= sale.actual_price
          %td= sale.date
  - if client.sales.size > 10
    .tablesorter-pager
      %form>
      =image_tag "icons/first.png", class: 'first'
      =image_tag "icons/prev.png",  class: 'prev'
      %span.pagedisplay
      =image_tag "icons/next.png",  class: 'next'
      =image_tag "icons/last.png",  class: 'last'
      %select.pagesize
        %option{selected:"selected",value:"10"} 10
        %option{value:"20"} 20
        %option{value:"40"} 40
        %option{value:"60"} 60
        %option{value:"9000"} All
