%p= count_pieces_phrase(client)

- if client.sales.size > 0

  %table#client_sales.sales_table
    %thead
      %th= t('piece')
      %th= t('collection')
      %th= t('fabric')
      %th= t('color')
      %th= t('size')
      %th= t('prize')
      %th= t('date')
      %th
    %tbody
      - client.sales.each do |sale|
        %tr{"data-edit_url" => "#{edit_client_sale_path(client, sale)}"}
          %td= link_to sale.piece.name, edit_piece_path(sale.piece)
          %td= sale.piece.collection
          %td= sale.piece.fabric
          %td= sale.piece.color
          %td= sale.piece.size
          %td= sale.actual_price
          %td= sale.date
          %td.delete
            = link_to client_sale_path(client, sale), confirm: t('actions.confirm_delete'), :method => :delete do
              %i.icon-remove
