%p= count_pieces_phrase(client.sales_count, client.sales_total)

- if client.sales.size > 0

  %table#client_sales.dataTable
    %thead
      %th Teil
      %th Kollektion
      %th Material
      %th Farbe
      %th Groesse
      %th Preis
      %th Datum
    %tbody
      - client.sales.each do |sale|
        %tr
          %td= link_to sale.piece.name, edit_piece_path(sale.piece)
          %td= sale.piece.collection
          %td= sale.piece.fabric
          %td= sale.piece.color
          %td= sale.piece.size
          %td= sale.actual_price
          %td= sale.date
