.span7
  %ul.nav.nav-pills
    %li= back_btn
    -if @client.sales.empty?
      %li= link_to t('.delete'), @client, :confirm => t('.confirm_delete'), :method => :delete, class: 'btn btn-small btn-danger'

  = render 'form'

.span7
  -if @client.role? 'Kundinnen'
    %ul.nav.nav-pills
      %li= link_to t('actions.new_sale'), new_client_sale_path(@client), class: 'btn btn-small'

  - if !@client.new_record?
    = render 'sales', client: @client



