%h1 Kundinnen

= form_tag clients_path, :method => 'get', id: 'clients_search' do
  %p
    = text_field_tag :search, params[:search]
    = submit_tag "Search", :name => nil

  #clients
    = render :partial => 'clients'

%br
-# see: http://hungrycoder.xenexbd.com/ruby-on-rails/will-paginate-links-and-twitter-bootstrap.html
= will_paginate @clients,  :renderer => 'BootstrapPaginationHelper::LinkRenderer'



= link_to 'New Client', new_client_path
