
= form_tag clients_path, :method => 'get', id: 'clients_search', :class => 'form-search' do
  .well.well-small
    %ul.nav.nav-pills
      %li= link_to 'Neue Kundin', new_client_path
      %li= link_to 'Exportieren', '/clients/export.xls'
      %li= text_field_tag :search, params[:search], placeholder: "Suche nach Vorname/Nachname/Ort", :class => 'search-query'
      %li.divider-vertical &nbsp;&nbsp;
      = render 'filter_dropdown', field: 'status', title: 'Status', default: 'aktiv', css: ''
      = render 'filter_dropdown', field: 'role', title: 'Rolle', default: 'Kundinnen', css: ''
      %li.divider-vertical &nbsp;&nbsp;
      = render 'filter_dropdown', field: 'per_page', title: 'Pro Seite', default: '15', css: 'pull-right'

  #clients
    = render :partial => 'clients'
