
= form_tag clients_path, :method => 'get', id: 'clients_search' do
  .well.well-small
    %ul.nav.nav-pills
      %li= link_to 'Neue Kundin', new_client_path
      %li= link_to 'Exportieren'
      %li= text_field_tag :search, params[:search], placeholder: "Suche nach Vorname/Nachname/Ort"
      = render 'filter_dropdown', field: 'status', title: 'Status'
      = render 'filter_dropdown', field: 'role', title: 'Rolle'

  #clients
    = render :partial => 'clients'
