
= form_tag clients_path, :method => 'get', id: 'clients_search', :class => 'form-search' do
  .well.well-small
    %ul.nav.nav-pills
      %li= link_to t('.new_client'), new_client_path
      %li= link_to t('.export'), '/clients/export.xls'
      %li= text_field_tag :search, params[:search], placeholder: t('.search'), :class => 'search-queryxx'
      %li.divider-vertical &nbsp;&nbsp;
      = render 'filter_dropdown', field: 'status', title: t('status'), default: 'aktiv', css: ''
      = render 'filter_dropdown', field: 'role', title: t('role'), default: 'Kundinnen', css: ''
      %li.divider-vertical &nbsp;&nbsp;
      = render 'filter_dropdown', field: 'per_page', title: 'Pro Seite', default: '15', css: 'pull-right'

  #clients
    = render :partial => 'clients'
