%h1 Kundinnen

= form_tag clients_path, :method => 'get', id: 'clients_search' do
  %p
    = text_field_tag :search, params[:search]
    = submit_tag "Search", :name => nil

  #clients
    = render :partial => 'clients'

%br

= link_to 'New Client', new_client_path
