
= form_tag clients_path, :method => 'get', id: 'clients_search' do
  .well.well-small
    %ul.nav.nav-pills
      %li= link_to 'Neue Kundin', new_client_path
      %li= link_to 'Exportieren'
      %li= text_field_tag :search, params[:search], placeholder: "Suche nach Vorname/Nachname/Ort"
      %li.divider-vertical &nbsp;&nbsp;
      = render 'filter_dropdown', field: 'status', title: 'Status', default: 'aktiv'
      = render 'filter_dropdown', field: 'role', title: 'Rolle', default: 'Kundinnen'
      %li.divider-vertical &nbsp;&nbsp;
      -#= render 'filter_dropdown', field: 'per_page', title: 'pro Seite', default: '15'

  #clients
    = render :partial => 'clients'
