= simple_form_for @piece, html: {class: 'form-horizontal piece_form'} do |f|
  = f.error_notification
  .row
    .span6
      = f.input :collection, label: 'Kollektion', input_html: {class: 'input-small'}
      = f.input :name
      = f.input :color
      = f.input :fabric, label: 'Material'
      = f.input :size, label: 'Gr&ouml;sse', input_html: {class: 'input-small'}
      = f.input :count_produced, label: 'Produzierte St&uuml;ckzahl', input_html: {class: 'input-small'}
      = f.input :preis, label: 'Preis', input_html: {class: 'input-small', type: 'text'}
      = f.input :kosten, label: 'Produktionskosten', input_html: {class: 'input-small', type: 'text'}

      .pull-right
        %label.checkbox{for: :copy_new}
          = check_box_tag(:copy_new, :class => "checkbox") + 'nach dem Speichern neues Teil mit gleichen Angaben anzeigen'

      .actions.pull-right
        = link_to 'Abbrechen', pieces_path
        = f.submit 'Speichern'

    - if !@piece.new_record?
      .span6
        = render 'sales', piece: @piece

%script{:type =>'text/javascript'}
  var collections = []
  - Piece.collections.each do |collection|
    collections.push("#{collection}")
  var names = []
  - Piece.names.each do |name|
    names.push("#{name}")
  var colors = []
  - Piece.colors.each do |color|
    colors.push("#{color}")
  var fabrics = []
  - Piece.fabrics.each do |fabric|
    fabrics.push("#{fabric}")

  $('#piece_collection').typeahead({source: collections})
  $('#piece_name').typeahead({source: names})
  $('#piece_color').typeahead({source: colors})
  $('#piece_fabric').typeahead({source: fabrics})