= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]
= hidden_field_tag :collection, collection_condition
= hidden_field_tag :per_page, per_page

.total_items= t('.total_found_html', number: @pieces.total_entries)

%table.table
  %tr
    %th= piece_sortable t('pieces.name')
    %th= piece_sortable 'collection', t('collection')
    %th= piece_sortable 'color', t('color')
    %th= piece_sortable 'fabric', t('fabric')
    %th= piece_sortable 'size', t('size')
    %th= piece_sortable 'price', t('price')
    %th= piece_sortable 'costs', t('.costs')
    %th= piece_sortable 'count_produced', t('.produced')
    %th= piece_sortable 'sold', t('.sold')
    %th= piece_sortable 'stock', t('.stock')

  - @pieces.each do |piece|
    %tr{"data-piece_id" => "#{piece.id}"}
      %td= piece.name
      %td= piece.collection
      %td= piece.color
      %td= piece.fabric
      %td= piece.size
      %td= piece.price
      %td= piece.costs
      %td= piece.count_produced
      %td= piece.sold
      %td= piece.stock

      %td.delete
        - if piece.count_sold == 0
          = link_to piece, confirm: t('actions.confirm_delete'), :method => :delete do
            %i.icon-remove

-# see: http://hungrycoder.xenexbd.com/ruby-on-rails/will-paginate-links-and-twitter-bootstrap.html
= will_paginate @pieces,  :renderer => 'BootstrapPaginationHelper::LinkRenderer'
