= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]
= hidden_field_tag :collection, collection_condition
= hidden_field_tag :per_page, params[:per_page]

.total_items
  #{@pieces.total_entries} Kundinnen
  %br gefunden:

%table.table
  %tr
    %th= sortable 'name'
    %th= sortable 'collection', 'Kollektion'
    %th= sortable 'color'
    %th= sortable 'fabric', 'Material'
    %th= sortable 'price', 'Preis'
    %th= sortable 'costs', 'Kosten'
    %th= sortable 'count', 'Produziert'
    %th= sortable 'sold', 'Verkauft'
    %th= sortable 'stock', 'Bestand'

  - @pieces.each do |piece|
    %tr{"data-piece_id" => "#{piece.id}"}
      %td= piece.name
      %td= piece.collection
      %td= piece.color
      %td= piece.fabric
      %td= piece.price
      %td= piece.costs
      %td= piece.count
      %td=
      %td=

      %td.delete
        = link_to piece, :confirm => 'Are you sure?', :method => :delete do
          %i.icon-remove

-# see: http://hungrycoder.xenexbd.com/ruby-on-rails/will-paginate-links-and-twitter-bootstrap.html
= will_paginate @pieces,  :renderer => 'BootstrapPaginationHelper::LinkRenderer'
