%table#sales-overview
  %tr
    %th Produziert
    %th Verkauft
    %th Bestand
    %th Gesamterl&ouml;s
  %tr
    %td= piece.count_produced
    %td= piece.count_sold
    %td= piece.count_stock
    %td= piece.revenue

- if piece.count_sold > 0
  %p= "#{piece.name} wurde #{times(piece.count_sold)} verkauft an:"

  %table#piece_sales.tablesorter
    %thead
      %th Kundin
      %th Ort
      %th Preis
      %th Datum
    %tbody
      - piece.sales.each do |sale|
        %tr
          %td= link_to sale.client.name, edit_client_path(sale.client)
          %td= sale.client.city
          %td= sale.actual_price
          %td= sale.date
  .tablesorter-pager
    %form>
    =image_tag "icons/first.png", class: 'first'
    =image_tag "icons/prev.png",  class: 'prev'
    %span.pagedisplay
    =image_tag "icons/next.png",  class: 'next'
    =image_tag "icons/last.png",  class: 'last'
    %select.pagesize
      %option{selected:"selected",value:"10"} 10
      %option{value:"20"} 20
      %option{value:"40"} 40
      %option{value:"60"} 60
      %option{value:"9000"} All
