.span6
  %ul.nav.nav-pills
    %li= back_btn
    -if @piece.sales.empty?
      %li= link_to t('.delete'), @piece, confirm: t('.confirm_delete'), :method => :delete, class: 'btn btn-small btn-danger'

  = render 'form'

.span6
  %ul.nav.nav-pills
    -if ! @piece.sold_out
      %li= link_to t('.new_sale'), new_piece_sale_path(@piece), class: 'btn btn-small'

  - if !@piece.new_record?
    = render 'sales', piece: @piece