
= form_tag pieces_path, :method => 'get', id: 'pieces_search', :class => 'form-search' do |f|
  .well.well-small
    %ul.nav.nav-pills
      %li
        %label Kollektion:
        = select_tag 'collection_filter', options_for_select((Piece.collections << 'alle').map{|c| [c, c]}, Piece.latest_collection), class: 'span2'
      %li.divider-vertical.span1 &nbsp;
      %li= text_field_tag :search, params[:search], placeholder: "Suche nach Name/Material/Farbe", :class => 'search-query'
      %li.divider-vertical.span1 &nbsp;
      %li= link_to 'Neues Teil', new_client_path
      %li.pull-right
        %label Pro Seite:
        = select_tag 'per_page_filter', options_for_select(per_page_options, per_page), class: 'span1'

  #pieces
    = render :partial => 'pieces'

