= form_tag pieces_path, :method => 'get', id: 'pieces_search', :class => 'form-search' do |f|
  %ul.nav.nav-pills
    %li
      %label= t('collection')
      = collection_filter
    %li.divider-vertical.span1 &nbsp;
    %li
      .input-append
        = text_field_tag :search, params[:search], placeholder: t('.search'), :class => 'search-query'
        %span.add-on
          %a(href="#" data-toggle="tooltip" data-placement="bottom" title="#{t('.search_delete')}") x
    %li.divider-vertical.span1 &nbsp;
    %li= link_to t('actions.new_piece'), new_piece_path, class: 'btn btn-small'
    %li.pull-right
      %label Pro Seite:
      = select_tag 'per_page_filter', options_for_select(per_page_options, per_page), class: 'span1'

  #pieces
    = render :partial => 'pieces'