%p#notice= notice

%p
  %b Name:
  = @piece.name
%p
  %b Collection:
  = @piece.collection
%p
  %b Color:
  = @piece.color
%p
  %b Fabric:
  = @piece.fabric
%p
  %b Count:
  = @piece.count
%p
  %b Price:
  = @piece.price
%p
  %b Costs:
  = @piece.costs

= link_to 'Edit', edit_piece_path(@piece)
\|
= link_to 'Back', pieces_path
