= simple_form_for [@parent, @sale], html: {class: 'form-horizontal sale_form'}, validate: true  do |f|
  = f.error_notification
  .row
    .span8
      = f.input :client_name_and_city, label: t('.client'), hint: t('.choose_from_list')
      = f.input :client_id, as: :hidden
      = f.input :piece_info, label: t('.piece') #, hint: t('.choose_from_list')
      = f.input :piece_id, as: :hidden
      = f.input :actual_price, input_html: {value: @sale.actual_price}, label: t('.prize')
      =f.input :date, label: t('.date'), class: 'input-medium' do
        = f.date_select(:date)
        %p#set_date_today= link_to t('.today')

  .form-actions
    = link_to t('actions.cancel'), back_path(@parent)
    = f.button :submit, value: t('actions.save'), class: 'btn-primary'
    - unless @sale.new_record?
      = link_to t('actions.delete_sale'), @sale, :confirm => t('actions.confirm_delete'), :method => :delete, class: 'btn btn-small btn-danger'
