= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]
= hidden_field_tag :per_page, per_page
= hidden_field_tag :name, params[:name]
= hidden_field_tag :color, params[:color]
= hidden_field_tag :size, params[:size]
= hidden_field_tag :fabric, params[:fabric]
= hidden_field_tag :date_from, params[:date_from]
= hidden_field_tag :date_to, params[:date_to]
= hidden_field_tag :collection, params[:collection]

.total_items= t('.total_found_html', number: @sales.total_entries)

%table.table#sales
  %tr
    %th= sale_sortable 'clients.last_name', t('client')
    %th= sale_sortable 'name', t('piece')
    %th= sale_sortable 'actual_price', t('prize')
    %th= sale_sortable 'date', t('date_label')

  - @sales.each do |sale|
    %tr{"data-sale_id" => "#{sale.id}"}
      %td= sale.client.name
      %td= sale.piece.name
      %td= sale.actual_price
      %td= sale.date
      %td.delete
        = link_to 'x', @sale, :confirm => t('actions.confirm_delete'), :method => :delete, class: 'btn btn-mini btn-danger'

-# see: http://hungrycoder.xenexbd.com/ruby-on-rails/will-paginate-links-and-twitter-bootstrap.html
= will_paginate @sales,  :renderer => 'BootstrapPaginationHelper::LinkRenderer'
