%p#notice= notice

%p
  %b Client:
  = @sale.client_id
%p
  %b Piece id integer:
  = @sale.piece_id_integer
%p
  %b Date:
  = @sale.date
%p
  %b Actual price:
  = @sale.actual_price

= link_to 'Edit', edit_sale_path(@sale)
\|
= link_to 'Back', sales_path
