!!!
%html{lang: 'de'}
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %title Viento
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tag
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container#main_nav
          %a.brand Viento
          .nav-collapse.collapse
            %ul.nav
              %li{class: "#{nav_class_for(:clients)}"}
                =link_to "Kundinnen", clients_path
              %li{class: "#{nav_class_for(:pieces)}"}
                =link_to "Teile", pieces_path
              %li{class: "#{nav_class_for(:sales)}"}
                =link_to "Neuer Verkauf", new_sale_path
            %ul.nav.pull-right
              - if user_signed_in?
                %strong= current_user.username
                = link_to 'Edit profile', edit_user_registration_path
                |
                \#{link_to "Logout", destroy_user_session_path, method: :delete}
              - else
                = link_to "Sign up", new_user_registration_path
                |
                \#{link_to "Login", new_user_session_path} |
                -# \#{link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter)}
    .container#main_container
      %h1= @page_title
      #messages
        - flash.each do |name, msg|
          = content_tag :div, msg, id: "flash_#{name}"
      #main
        = yield
      %footer
        %p * * *