!!!
%html{lang: 'de'}
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %title Viento
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tag
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container#main_nav
          =link_to t('viento'), root_path, class:('brand')
          .nav-collapse.collapse
            %ul.nav
              %li{class: "#{nav_class_for(:clients)}"}
                =link_to t('main_menu.clients'), clients_path
              %li{class: "#{nav_class_for(:pieces)}"}
                =link_to t('main_menu.pieces'), pieces_path
              %li{class: "#{nav_class_for(:sales)}"}
                =link_to t('main_menu.new_sale'), new_sale_path
              %li{class: "#{nav_class_for(:sales)}"}
                =link_to t('main_menu.analysis'), analysis_menu_path
            %ul.nav.pull-right
              - if user_signed_in?
                %strong= current_user.username
                = link_to t('meta.profile'), edit_user_registration_path
                |
                -if can? :manage, User
                  = link_to t('meta.admin'), users_path
                  |
                = link_to t('meta.email'), new_email_path
                |
                \#{link_to t('meta.logout'), destroy_user_session_path, method: :delete}
              - else
                = link_to t('meta.register'), new_user_registration_path
                |
                \#{link_to t('meta.login'), new_user_session_path} |
    .container#main_container
      - if @page_title.present?
        .page-header
          <h1>#{@page_title} <small>#{@page_subtitle}</small></h1>
      #messages
        - flash.each do |name, msg|
          = content_tag :div, msg, id: "flash_#{name}"
      #main
        = yield
      %footer
        %p * * *